<div *ngIf="contact">
  <header>
    <h2 class="text-center pb-3">
      Edycja kontaktu: <b>{{ contact.nickname }}</b>
    </h2>
  </header>
  <div>
    <table cellspacing="0">
      <tr>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Pseudonim</mat-label>
            <input
              matInput
              [(ngModel)]="contact.nickname"
              maxlength="24"
              #contactNickname
              [formControl]="formControlNickname"
            />
            <mat-hint align="end"
              >{{ contactNickname.value.length }} / 24</mat-hint
            >
            <mat-hint>*pole wymagane</mat-hint>
            <mat-error *ngIf="formControlNickname.hasError('required')">
              Pseudonim jest <strong>wymagany!</strong>
            </mat-error>
          </mat-form-field>
        </td>

        <td>
          <mat-form-field appearance="outline">
            <mat-label>Płeć</mat-label>
            <mat-select
              [(ngModel)]="contact.sex"
              name="sex"
              [formControl]="formControlSex"
              [errorStateMatcher]="matcher"
            >
              <mat-option *ngFor="let sex of sexes" [value]="sex.viewValue">
                {{ sex.viewValue }}
              </mat-option>
            </mat-select>
            <mat-hint>*pole wymagane</mat-hint>
            <mat-error *ngIf="formControlSex.hasError('required')">
              Wybór jest <strong>wymagany!</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Imię</mat-label>
            <input
              matInput
              [(ngModel)]="contact.name"
              maxlength="24"
              #contactName
              [formControl]="formControlName"
              [errorStateMatcher]="matcher"
            />
            <mat-hint align="end">{{ contactName.value.length }} / 24</mat-hint>
            <mat-hint>*pole wymagane</mat-hint>
            <mat-error *ngIf="formControlName.hasError('required')">
              Imię jest <strong>wymagane!</strong>
            </mat-error>
          </mat-form-field>
        </td>

        <td>
          <mat-form-field appearance="outline">
            <mat-label>Nazwisko</mat-label>
            <input
              matInput
              [(ngModel)]="contact.surname"
              maxlength="24"
              #contactSurname
              [formControl]="formControlSurname"
              [errorStateMatcher]="matcher"
            />
            <mat-hint align="end"
              >{{ contactSurname.value.length }} / 24</mat-hint
            >
            <mat-hint>*pole wymagane</mat-hint>
            <mat-error *ngIf="formControlSurname.hasError('required')">
              Nazwisko jest <strong>wymagane!</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Nr telefonu</mat-label>
            <input
              matInput
              [(ngModel)]="contact.phone"
              maxlength="12"
              #contactPhone
              [formControl]="formControlPhone"
              [errorStateMatcher]="matcher"
            />
            <mat-hint align="end"
              >{{ contactPhone.value.length }} / 12</mat-hint
            >
            <mat-hint>*pole wymagane</mat-hint>
            <mat-error *ngIf="formControlPhone.hasError('required')">
              Nr telefonu jest <strong>wymagany!</strong>
            </mat-error>
          </mat-form-field>
        </td>

        <td>
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input
              matInput
              [(ngModel)]="contact.email"
              maxlength="32"
              #contactEmail
              [formControl]="formControlEmail"
              [errorStateMatcher]="matcher"
            />
            <mat-hint align="end"
              >{{ contactEmail.value.length }} / 32</mat-hint
            >
            <mat-hint>*pole wymagane</mat-hint>
            <mat-error *ngIf="formControlEmail.hasError('required')">
              E-mail jest <strong>wymagany!</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </div>
  <mat-divider class="my-3"></mat-divider>
</div>
<div class="text-center">
  <button mat-flat-button (click)="goBack()">Powrót</button>
  <button mat-flat-button color="primary" (click)="save()">
    Zapisz zmiany
  </button>
</div>
