ul {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding-left: 10px;
    list-style-type: none;
  }
}

.number {
  color: #aaa;
  font-size: 0.8em;
}

.table-container {
  @media screen and (max-width: 991px) {
    overflow-x: scroll;
  }
}
table {
  width: 100%;
  table-layout: fixed;
  min-width: 800px;

  tr {
    td {
      overflow-x: auto;
    }

    &.element-row:hover {
      background: whitesmoke;
      cursor: pointer;
    }
  }
}
